/* 
    Document   : myStyles
    Created on : 23.12.2011, 23:17:29
    Author     : sebastianvogel
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
h2 {
    color: blue;
}

a {
    color: blue;
}

